@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,700&display=swap");
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/*Screens*/
@import "screens/log-in.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

#splash-screen {
  background-color: var(--orange);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: hideSplashScreen 0.2s ease-in-out forwards;
  animation-delay: 0.1s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
