.welcome-header {
  margin: 90px 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.6;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--orange);
}

#login-form input[type="submit"] {
  background-color: var(--orange);
  cursor: pointer;
  border-radius: 5px;
}

#login-form button {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: var(--orange);
  border-radius: 5px;
}

#login-form a {
  text-decoration: none;
  color: black;
  text-align: center;
}
