.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 32px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}
