.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__chat-notification {
  background-color: var(--orange);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__setting-notification {
  background-color: var(--orange);
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 30px;
}
