#no-mobile {
  background-color: var(--orange);
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

#no-mobile span:first-child {
  margin-bottom: 15px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
