.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 30px;
}

.screen-header__setting {
  position: relative;
}

.screen-header__setting-notification {
  background-color: var(--orange);
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: 1px;
  top: -6px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
