.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 25px;
}

.user-component__subtitle {
  margin-top: 10px;
  color: var(--gray);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__chat {
  margin-bottom: 10px;
}

.user-component__text div {
  display: flex;
  position: relative;
}

.user-component__text div i {
  bottom: 0px;
  position: absolute;
  left: 145px;
}
